.explode {
  animation: explode 1s;
}

@keyframes bounce {
  0% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes explode {
  0% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(10);
  }
  100% {
    transform: scale(0) rotate(360deg);
  }
}

.example-enter {
  animation: bounce 1s;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  animation: explode 1s;
}
