.explode {
  animation: explode 1s;
}

@keyframes bounce {
  0% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes explode {
  0% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(10);
  }
  100% {
    transform: scale(0) rotate(360deg);
  }
}

.balloon-enter {
  animation: bounce 0.5s;
}

.balloon-enter.balloon-enter-active {
  opacity: 1;
}

.balloon-leave {
  opacity: 1;
}

.balloon-leave.balloon-leave-active {
  animation: explode 1s;
}
